@import "nib"

//vars
@import "var/colors"
@import "var/variables"

//elements
@import "elements/header"
@import "elements/headline"
@import "elements/brands"
@import "elements/about"
@import "elements/feedback"
@import "elements/footer"

global-reset()



body
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  width: 100%
  background-color: $light
  font-family: "Comic sans MS"
  +below(1050px)
    background-color: $secondary

.container
  display: flex
  width: 1050px

.main
  display: flex
  flex-direction: column
