doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="main.css")

  body
    //START HEADER by ...
    header.header
        .header-logo

      
    //START HEADLINE by ...  
    section.container.headline
    
    main.container.main
      //START BREANDS by ...
      section.main__item.brands
      
      //START ABOUT by ...
      section.main__item.about
      
      //START FEADBACK by ...
      section.main__item.feedback
      
    //START FOOTER by ...  
    footer.footer
      .container
      h4#footer_media Follow US on Social Media
      div.footer_icon
        span.icon_twiter
        span.icon_facebook
        span.youtube
        span.googl
        span.instagram
      h6#footer_made &copy; 2016 UI Wireframes. ALL rights reserved.