doctype html
html(lang="en")
  head
    title Team landing
    link(rel="stylesheet" href="main.css")

  body
    //START HEADER by ...
    header.header
      .container
        .header-logo


    //START HEADLINE by ...
    section.headline
      .container
        .headline_image
          img(src="./images/Heroshot_big_image.png" alt="Heroshot big image")
        .headline_desc
          h2.headline_header Striking Headline Here
          .headline_text
            | <strong>Lead Paragraph.</strong> Lorem ipsum dolor sit amet, consectetur
            | adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            | dolore magna aliqua.
          a.button Main CTA Button
          .little_text
            | Or,&nbsp;
            a(href="#") link&nbsp;
            | to an alternative option
    main.container.main
      //START BREANDS by ...
      section.main__item.brands
          h6.brands__title As Featured In:
          ul.brands__list
            li.brands__item
              a.brands__icon(href="#")
                img(src="./images/cursor.png", alt="cursor eduction")
              h6.brands__name Cursor Eduction
            li.brands__item
              a.brands__icon(href="#")
                img(src="./images/cursor.png", alt="cursor eduction")
              h6.brands__name Cursor Eduction
            li.brands__item
              a.brands__icon(href="#")
                img(src="./images/cursor.png", alt="cursor eduction")
              h6.brands__name Cursor Eduction
            li.brands__item
              a.brands__icon(href="#")
                img(src="./images/cursor.png", alt="cursor eduction")
              h6.brands__name Cursor Eduction
            li.brands__item
              a.brands__icon(href="#")
                img(src="./images/cursor.png", alt="cursor.eduction")
              h6.brands__name Cursor Eduction
            li.brands__item
              a.brands__icon(href="#")
                img(src="./images/cursor.png", alt="cursor eduction")
              h6.brands__name Cursor Eduction
      //START ABOUT by ...
      section.main__item.about
        div.what_is
          b.what_is__title What is the Product?
          h1.what_is__pretext Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          p.what_is__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.why_use
          b.why_use__title Why Use the Product?
          ul.why_use__list
            li.why_use__item Big Benefit 1
            li.why_use__item Big Benefit 2
            li.why_use__item Big Benefit 3
            li.why_use__item Big Benefit 4
            li.why_use__item Big Benefit 5


      //START FEADBACK by ...
      div.main__item.feedback
        div.feedback__item
          img.feedback__photo(src="http://placehold.it/68x68" alt="feedback photo")
          p.feedback__comment
            |"The Product is awasome. I love it.
            |Thanks UI Wireframes for everything you've put together."
            span.feedback__name
              |- Customer Name
        div.feedback__item
          img.feedback__photo(src="http://placehold.it/68x68" alt="feedback photo")
          p.feedback__comment
            |"The Product is awasome. I love it.
            |Thanks UI Wireframes for everything you've put together."
            span.feedback__name
              |- Customer Name
        div.feedback__item
          img.feedback__photo(src="http://placehold.it/68x68" alt="feedback photo")
          p.feedback__comment
            |"The Product is awasome. I love it.
            |Thanks UI Wireframes for everything you've put together."
            span.feedback__name
              |- Customer Name

    //START FOOTER by ...
    footer.footer
      .container
        div.footer_social
          h4#footer_media Follow US on Social Media
          ul#footer_icon
            li.icon#icon-twitter
              a.footer_link(href='#')
            li.icon#icon-facebook
              a.footer_link(href='#')
            li.icon#icon-YouTube
              a.footer_link(href='#')
            li.icon#icon-googl
              a.footer_link(href='#')
            li.icon#icon-instagram
              a.footer_link(href='#')
          h6#footer_made &copy; 2016 HomeWork by Second-team. only watch "CURSOR".
