doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="main.css")

  body
    //START HEADER by ...
    header.header
        .header-logo


    //START HEADLINE by ...
    section.container.headline
      .headline_image
      .headline_desc
        .headline_header Striking Headline Here
        .headline_text
          | <strong>Lead Paragraph.</strong> Lorem ipsum dolor sit amet, consectetur
          | adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          | dolore magna aliqua.
        #[a.button Main CTA Button]

    main.container.main
      //START BREANDS by ...
      section.main__item.brands
          p As Featured In:

      //START ABOUT by ...
      section.main__item.about

      //START FEADBACK by ...
      section.main__item.feedback

    //START FOOTER by ...
    footer.footer
      .container
      div.footer_social
        h4#footer_media Follow US on Social Media
        ul#footer_icon
          li.icon#icon-twitter
          li.icon#icon-facebook
          li.icon#icon-YouTube
          li.icon#icon-googl
          li.icon#icon-instagram
      h6#footer_made &copy; 2016 UI Wireframes. ALL rights reserved.
