doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="main.css")

  body
    //START HEADER by ...
    header.header
        .header-logo

      
    //START HEADLINE by ...  
    section.container.headline
    
    main.container.main
      //START BREANDS by ...
      section.main__item.brands
      
      //START ABOUT by ...
      section.main__item.about
      
      //START FEADBACK by ...
      section.main__item.feedback
      
    //START FOOTER by ...  
    footer.footer
      .container
      h4 Follow US on Social Media
    span.icon-twiter
    span.icon-facebook
    span.youtube
    span.googl
    span.instagram
      h6 &copy; UI Wireframes. ALL rights reserved.