section.feedback
  display flex
  flex-direction row
  align-items center
  justify-content space-between
  height 180px
  border-top 2px solid #000
  article.feedback__item
    display flex
    flex-direction row
    align-items center
    justify-content space-around
    background-color #DDDDDD
    height 105px
    width 300px
    img.feedback__item--customer-photo
      display flex
      width 68px
      height 68px
    p.feedback__item--customer-comment
      display flex
      width 200px
      flex-direction column
      justify-content space-between
      font-size 10pt
      & span
        display flex
        align-self flex-end
        padding-top 15px
        font-weight: bold;