.footer
  //styles
  position absolute
  left:0;
  bottom:0;
  height: 150px
  width 100%
  background-color: #3c3c3c
#footer_media
  text-decoration none
  color white
  margin-left 43%
  padding-top 15px
  font-size 14px
#footer_made
  margin-left 41%
  padding-top: 50px;
  text-decoration none
  color white
  font-size 12px
.footer_social
  width 100%
  height 80px
  background-color transparent
#footer_icon
  display: flex
  flex-direction row
  height 40px
  width 200px
  margin: 10px 0 0 41.5%;
.icon
  background-image: url(../../img/icons-foto.png)
  height 36px
  width 36px
  margin 2px
  position relative
  display block
#icon-twitter
  background-position 121px 35px
//#icon-twitter:hover
//  background-color:
//#icon-twitter
//  background-position
//#icon-twitter:hover
//  background-position
//#icon-VKontakte
//  background-position
//#icon-VKontakte:hover
//  background-position
//#icon-YouTube
//  background-position
//#icon-YouTube:hover
//  background-position
