.footer
  //styles
  position absolute
  left:0;
  bottom:0;
  height: 130px
  width 100%
  background-color: #3c3c3c
#footer_media
  text-decoration none
  color white
  margin-left 43%
  padding-top 15px
  font-size 14px
#footer_made
  margin-left 41%
  text-decoration none
  color white
  font-size 12px
.footer_icon
  width 100%
  height 80px
  background-color yellow
.span
  height 30px
  width 30px
  background-color red
//.icon
//  background-image: url(../../icons-footer.png)
//.icon a
//  position: relative
//  left: 35px
//  top: 6px
//  color: #4D4D4D
//  text-decoration: none
//.icon a:hover
//  color: #024D75
//  font-size:22px
//  top: 1px
//#icon-facebook
//  background-position: -1px 0
//#icon-facebook:hover
//  background-position: -1px 25px
//#icon-twitter
//  background-position: 165px 0
//#icon-twitter:hover
//  background-position: 165px 25px
//#icon-VKontakte
//  background-position: -28.5px 0
//#icon-VKontakte:hover
//  background-position: -28.5px 25px
//#icon-YouTube
//  background-position: -51px -74px
//#icon-YouTube:hover
//  background-position: -51px -34px
