.footer
  //styles
  position absolute
  left:0;
  bottom:0;
  height: 150px
  width 100%
  background-color: #3c3c3c
#footer_media
  text-decoration none
  color white
  margin-left 43%
  padding-top 15px
  font-size 14px
#footer_made
  margin-left 41%
  padding-top: 50px;
  text-decoration none
  color white
  font-size 12px
.footer_icon
  width 100%
  height 80px
  background-color olive
#footer_social
  height 30px
  width 200px
  margin: 10px 0 0 41.5%;
  background-color orange
.icon
  background-image: url(../../img/icons-footer.png)
.icon a
  position: relative
  left: 35px
  top: 6px
  color: #4D4D4D
  text-decoration: none
.icon a:hover
  color: #024D75
  font-size:22px
  top: 1px
//#icon-facebook
//  background-position:
//#icon-facebook:hover
//  background-position:
//#icon-twitter
//  background-position:
//#icon-twitter:hover
//  background-position:
//#icon-VKontakte
//  background-position:
//#icon-VKontakte:hover
//  background-position:
//#icon-YouTube
//  background-position:
//#icon-YouTube:hover
//  background-position:
