.header
  //styles
  width 100%
  height: auto
  background-color: #4e4e4e
.header-logo
  width: 200px
  height: 55px
  background-color: #fff
  margin: 1% 0 1% 15%
.container
  width 100%
  height auto