.about
  //styles
  background-color: transperent
  display: flex
  flex-direction: row
  border-bottom: 2px solid $dark
  padding-bottom: 20px

.what_is
  display: flex
  flex-direction: column
  flex: 2
  padding: 20px
  font-size: 15px
  &__title
  	padding-top: 10px
  	padding-bottom: 16px
  	font-size: 20px
  &__pretext
    padding-bottom: 6px
  	font-size: 18px
  &__text
    font-size: 15px
  	padding-bottom: 4px



.why_use
  flex: 1
  margin: 20px
  background-color: #DDDDDD
  border: 3px solid black
  border-radius: 10px
  padding: 30px
  padding-top: 10px
  &__title
  	font-size: 20px
  &__list
  	list-style-type: none
  	margin-top: 5px
  	margin: 15px
  	background-color: darkgray
  	font-weight: bold
  	padding: 3px
  &__item
    padding: 0 0 5px 10px
    &:before
      content: "> "
    &:first-child
      padding-top: 5px


.li
&:before
  content: “>"

  &__item
  	padding: 3px
  	font-size: 14px
