.feedback
  display flex
  flex-direction row
  align-items center
  justify-content space-between
  padding: 35px 0
  &__item
    display flex
    flex-direction row
    align-items center
    justify-content space-around
    background-color #DDDDDD
    padding: 10px
  &__photo
    display flex
    width 68px
    height 68px
    padding-right: 10px
  &__comment
    display flex
    width 200px
    flex-direction column
    justify-content space-between
    font-size 10pt
  &__name
    display flex
    align-self flex-end
    padding-top 5px
    font-weight: bold;
